    </div>
    <hr>
    <div id="footer footer-fixed-bottom">
      <div class="container">
        <p class="text-muted credit"> This website is open-source and available on <a href="https://github.com/fraser-lab/fraser-lab.github.io">Github</a>.</p>
      </div>
    </div>

    <div class="social">
        <a href="https://github.com/ATOMSLab"><i class="fa fa-github"></i> ATOMSLab</a>
        <a href="https://twitter.com/ATOMSresearch"><i class="fab fa-twitter-square"></i></i> ATOMSresearch</a>
        <a href="mailto:tjo@umbc.edu"><i class="fa fa-envelope-o"></i> tjo@umbc.edu</a>
    </div>  
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
  </body>
</html>


    
 
