</div>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <hr>
    <div id="footer footer-fixed-bottom">
      
      <div class="container">
        
        
        <div class="row justify-content-md-center">
          <div class="col-4 align-self-center">

           <ul style="list-style-type: none;">
            <li style="float: left;">
              <a href="https://github.com/ATOMSLab" class="fab fa-github" target="_blank"></a>
            </li>
            <li style="float: left;">
              <a href="https://twitter.com/ATOMSresearch" class="fab fa-twitter" target="_blank" ></a>
            </li>
            <li style="float: left;">
              <a href="mailto:tjo@umbc.edu" class="fas fa-envelope" target="_blank" ></a>
            </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>This website is open-source and available on <a href="https://https://github.com/ATOMSLab/atomslab.github.io" target="_blank">Github</a>.</p>
          </div>
        </div>  
        
              
    </div>
 
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
  </body>
</html>


    
 
