</div>
    <hr>
    <div id="footer footer-fixed-bottom", style="background-color:#000000;">
      <div class="container", style="background-color:#000000;">
        <p class="text-muted credit", style="text-align:center"> <br> ATOMS Lab @ UMBC.<br> 
            This website is open-source and available on <a href="https://github.com/atomslab.github.io">Github</a>. <br>
            It uses templates from the <a href="https://fraserlab.com/2020/05/03/Clone-this-website/">Fraser Lab</a>.</p>
      </div>
    </div>

    <div class="social">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <a href="https://github.com/ATOMSLab"> <i class="fa fa-github-square" aria-hidden="true"></i>ATOMSLab</a>
        <a href="https://twitter.com/ATOMSresearch"<i class="fa fa-twitter-square" aria-hidden="true"></i>ATOMSresearch</a>
        <a href="mailto:tjo@umbc.edu"><i class="fa fa-envelope" aria-hidden="true"></i> tjo@umbc.edu</a>
    </div>  
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
  </body>
</html>


    
 
