{% include header.html %}

<style>
body {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2 , h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
    text-align: left;

}

a {
  color : #000
}
.social {
  display: block;
  width: 80%;
  margin: auto;
}

.social-tags {
  list-style-type: none;
}

.social-tags li {
  float: left;
  padding: 0 10px;
}

.social-tags li a:hover {
  color : #;
}

.contact-page .contact-block {
 margin: 25px 0;
 padding: 0 25px;
}

.contact-block-column {
  text-align: center;
	margin-bottom: 25px;
}

.contact-block-column h4 {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  display: inline-block;
}

.prof-name {
	margin: 0;
	padding: 0;
	font-size: 14px;
	letter-spacing: 1px;
	color: #DA2129;
	text-transform: uppercase;
}
</style>


{% include footer.html %}
